
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
 
    
}

.menuimgsz {
    width: 100px;
    height: 50px;
}

.logoimgsz {
    width: 150px;
    height: 40px;
}
.orangebg{
    background-color: rgba(252, 138, 6, 1);
    padding: 3px;
    color: black;
    border-radius: 5px;
}
.orange {
color: rgba(252, 138, 6, 1);
}
.heroheight {
    height: 60vh;
}
.search-position-mh {
    position: absolute;
    right: 45%;
    top: 109.3%;
    transform: translate(50%, -50%);
    
}

.search-position-md {
    position: absolute;
    right: 45%;
    top: 80.3%;
    transform: translate(50%, -50%);
    
}

.search-position-sm {
    position: absolute;
    right: -5%;
    top: 114.3%;
    transform: translate(50%, -50%);
}
.search-position {
    position: absolute;
    right: 17%;
    top: 93%;
    transform: translate(50%, -50%);
    
}

.next-page-pos {
    position: absolute;
    right: 30%;
    top: 68.5%;
    transform: translate(50%, -50%);
}
.fspar {
    font-size: 22px;
}

.fspara {
    font-size: 10px;
}

.fsparag{
    font-size: 10px;
}
.position-aid {
    position: absolute;
    right: 100%;
    bottom: 0%;
    transform: translate(5%, 0%);
    
}
.position-aid-top {
    position: absolute;
    right: 50%;
    bottom: 0%;
    transform: translate(-80%, 0%);
    
}

.position-n1 {
position: absolute;
right: 70%;
top: 18%;
transform: translate(-30%, -5%);
z-index: 4;

}

.position-n2 {
position: absolute;
right: 70%;
top: 46%;
transform: translate(-1%, -5%);
z-index: 4;

}
.position-n3 {
position: absolute;
right: 70%;
bottom: 6%;
transform: translate(-17%, -5%);
z-index: 4;
}

.position-no1{
   position: absolute;
right: 10%;
bottom: 48%;
transform: translate(10%, -5%);
z-index: 5; 
color: white;
font-size: 68px;
font-weight: semibold;
font-family: 'Poppins', sans-serif;
}

.pizza{
    width: 400px;
    height: 250px;
}

.indomie{
    width: 140px;
    height: 160px;
}

.backgr {
    width: 220px;
    height: 200px;
}

.Sec-2-imgsz {
    width: 425px;
    height: 300px;
}
.Sec-3-imgsz {
    width: 245px;
    height: 220px;
}

.btnwidth {
    width: 205px;
    height: 60px;
}

.frndimgsz {
    width: 650px;
    height: 510px;
    position: absolute;
    bottom: 0%;
    right: 38%;
    transform: translate(-50%, 0%);
    z-index: 1;
}

.frndimgsz02 {
    width: 900px;
    height: 710px;
    position: absolute;
    bottom: 2%;
    right: 1%;
    transform: translate(-50%, 0%);
    color: white;
}

.grpimgsz {
    width: 665px;
    height: 400px;
}

@media (width >=1024px) {
 .position-aid {
    position: absolute;
    right: 100%;
    bottom: 0%;
    transform: translate(-15%, 0%);
}
.position-aid-top {
    position: absolute;
    right: 50%;
    bottom: 0%;
    transform: translate(-60%, 0%);
    
}
.pizza{
    width: 600px;
    height: 400px;
}


.backgr {
    width: 400px;
    height: 400px;
}
}
@media (width >=1440px) {
 .position-aid {
    position: absolute;
    right: 100%;
    bottom: 0%;
    transform: translate(-48%, 0%);
}

.position-aid-top {
    position: absolute;
    right: 50%;
    bottom: 0%;
    transform: translate(-60%, 0%);
    
}
.pizza{
    width: 650px;
    height: 420px;
}
.indomie{
    width: 330px;
    height: 360px;
}
.backgr {
    width: 500px;
    height: 440px;
}
}
 


 @media ( 300px <= width <= 767px) {
    .heroheight {
    height: 40vh;
    }
   
 }