@media (max-width: 1250px) {
    .para {
        color: red;
    }
}



header {
    display: grid;
    grid: 
    '. . . .'
    '. . . .';
    gap: 10;

}

header div{
    width: 200px;
    height: 200px;
    border: 2px solid black;
}