body {
    overflow-x: hidden;
    max-width: 100vw;
    background-color: rgb(28, 97, 46);
/* background-image: url(/background.webp);
background-position: inherit;
background-size: cover; */
}
header {
    position: fixed;
    top:0%;
    left: 0px;
    height:80px;
    width: 100%;
    background-color: rgb(2, 27, 2) ;
    padding-inline-start: none;
    padding-left: 0%;
    display: flex;
    align-content: center;
    border-bottom: 1px solid rgb(5, 87, 59) ;
    opacity: 0.9;
    margin-bottom: 5%;
    z-index: 2;
    justify-content: space-between;
}

.nav-logo{
    display: flex;
    align-items: center;
    height: 100%;

}
.headerimg {
    padding: 0 0px 0 8.5%;

}

header h1 {
    color: rgb(96, 247, 189);
    align-self: center;
    margin-right: 48%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 27px;
}
 header nav {
    background-color: rgb(11, 39, 11);
    
    opacity: 70%;
    width:fit-content;
    padding: 0px 10px 0px 10px;

    font-weight: bold;
    display: flex;
    align-items: center;
 }
 .navlink {
    display: inline-block;
    color:  rgb(255, 255, 255);
    width:70px;
    font-size: large;
    text-decoration: none;
    padding:10px 15px 0px 15px;
} 

header nav :hover {
    color: black;
    background-color: rgb(96, 247, 189);
    border-radius: 50px;
}

header nav a :active{
    color: black;
    background-color: rgb(96, 247, 189);
    border-radius: 50px;    
}
.home1 h1 {
    font-size: 90px;
    padding:7% 1% 0% 8%; 
    padding-block-end: 0;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(96, 247, 189); 
    margin: 0;
}
.home1 p {
    padding:0% 0% 2% 8%;
    font-size: x-large;
    width: 32%;
    color: white;
    opacity: 75%;
    margin:15px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

.button {
    padding:0% 0% 2% 8%;
    width: 60%;
    margin-bottom: 7%;
}

.button1 {
    width: 50%;
    height:60px;
    border-radius: 50px;
    font-size: larger;
    margin: 5px;
    padding: 5px 10px 5px 5px;
    background-color: rgb(96, 247, 189);
    font-weight: bold;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;

    
}
.button2 {
    width: 40%;
    height:60px;
    border-radius: 50px;
    font-size: larger;
    margin: 5px;
    padding: 5px 10px 10px 5px;
    background-color: rgb(11, 39, 11);
    border: 2px solid rgb(34, 173, 127);
    font-weight: bold;
    color: rgb(34, 173, 127);
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.highlight  {
    top:0%;
    left: 0px;
    display: flex;
    width: 100%;
    padding-left: 0%;
    background-color:transparent; 
    border: 1px solid rgb(34, 173, 127); 
    border-left: 0px;
    border-right: 0px;
    opacity: 0.8;
    margin-bottom: 5%;
}

.highlight ul {
    list-style-type: none;
    margin: 4.5% 0% 4.5% 0%;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: inline-flex;
    color: white;
    width: 100%; 
    justify-content: space-evenly;

}

.highlight ul li {
line-height: 2.5em;
text-align: center;
}

.highlight ul li span {
    display: flex;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: mediumspringgreen;
}

.featuresheading {
justify-self: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(96, 247, 189);
font-size: 50px;
padding-top: 5%;
margin-top: 1%;
margin-bottom: 3%;
}

.main-feature{
  width: 95%;
  justify-content: center;
  display: flex;
  margin: 0% 0% 5% 3%;
}

.main-links{
    width: 20%;
    padding: 10px;
    border: 1px solid rgb(34, 173, 127) ;
    margin-right: 5%;
    border-radius: 25px;
    justify-content: space-between;
    
}

.main-links img {
    background-color: rgb(87, 170, 142);
    border-radius: 15px;
    padding: 10px;
    

}

.main-links a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5%;

}
.main-links h3 {
    color: rgb(96, 247, 189);
    padding: 0;
    margin-bottom: 0;
    
    
}
.main-links p {
    color: white;
    padding:0;
    margin-top: 0;
    opacity: 0.8;
    
}

.main-links-contents {
    width: 50%;
    padding: 5px;
    border: 1px solid rgb(34, 173, 127) ;
    border-radius: 25px;
    justify-content: space-around;
    padding: 3%;
    
}

.main-links-contents h1 {
    color: rgb(96, 247, 189);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.main-links-contents p {
    color: white;
    line-height: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: justify;
    opacity: 0.8;
    
}

.main-links-contents p a {
    color: white;
    font-weight: bold;
}

.main-links-contents button {
    background-color: transparent;
    width: 45%;
    margin: 2%;
    border: 1px solid rgb(34, 173, 127) ;
    border-radius: 15px;
    padding: 20px;  
    text-align: left;  
    opacity: 0.8;
    cursor: pointer;
}

.main-links-contents button img {
    margin: 5px;
}
.main-links-contents button h4 {
    color: rgb(96, 247, 189);
    display: inline-block;
    margin: 0;
}

.main-links-contents button p {
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.button3{
    font-size: larger;
    color: black;
    background-color: rgb(34, 173, 127);
    font-weight: bold;
}

#About {
    width: 80%;
    align-content: center;
    margin-left: 10%;
}   
.about h1 {
padding-top: 5%;
justify-self: center;
color: rgb(96, 247, 189);
font-family: Arial, Helvetica, sans-serif;
font-size: 70px;
}

.aboutfirsth {
    justify-self: right;
    width: 45%;
    color: rgb(96, 247, 189);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 10px 0px 30px 0px;
}

.aboutfirstp {
    justify-self: right;
    width: 45%;
    text-align: justify;
    font-size: 20px;
    line-height: 1.5em;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.8;
}

.aboutfirstp a {
    color: white;
    font-weight: bold;
}

.aboutsecondh{
justify-self: left;
    width: 45%;
    color: rgb(96, 247, 189);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.aboutsecondp{
    justify-self: left;
    width: 45%;
    margin: 20px 20px 20px 0px;
    text-align: justify;
    font-size: 20px;
    line-height: 1.5em;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.8;
}

#contact {
    padding: 5%;
}
.contact {
    display: flex;
    width:80%;
    margin:5%;
    padding: 5%;
    gap:5%;
}

.form {
    width:40%;
    border: 1px solid rgb(34, 173, 127) ;
    border-radius: 25px;
    padding: 4%;
    align-items: center;
}

.form h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(96, 247, 189);
    font-size: 40px;
}

.form label {
    font-size: 18px;
    display: block;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(96, 247, 189);
    font-weight: bold;

}
.form input {
    background-color: transparent;
    border: 1px solid rgb(34, 173, 127) ;
    border-radius: 10px;
    width: 100%;
    font-size: 40px;
    margin-bottom: 5%;
}

.form textarea {
    background-color: transparent;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(34, 173, 127) ;
    margin-bottom: 5%;
    padding-top: 2%;
}

.form button {
    width: 100%;
    background-color: rgb(34, 173, 127);
    border-radius: 10px;
    height: 50px;
    font-weight: bold;
    align-items: center;
    font-size: 18px;
}

.contactAddress {
    width: 40%;
    
}

.contactAddress h2 {
    font-size: 40px;
    color: rgb(96, 247, 189);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 11%;

}

.contactAddress img {
     background-color: rgb(87, 170, 142);
    border-radius: 100px;
    padding: 12px;

}
.contactAddress h5 {
    margin-bottom: 0;
    color: rgb(96, 247, 189);
    font-size: 16px;
}


.contactAddress p {
    margin-top: 0;
    color: white;
    opacity: 0.8;
}


.contactAddress ul il {
    display: flex;
    gap: 10px;
    border: 1px solid rgb(34, 173, 127);
    margin: 5%;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    align-items: center;
    
}

footer {
    border-top: 1px solid rgb(34, 173, 127);
    background-color: rgb(13, 46, 13);
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5%;   
}

footer h5 {
    color: rgb(96, 247, 189);
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0;
}

.footsection1 {
    margin-left: 10%;
    width: 30%;
    font-size: 18px;
    opacity: 0.8;

}

.footsection1 h3 {
    color: rgb(96, 247, 189);
    margin-bottom: 0;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    
}

.footsection1 img {
     background-color: rgb(7, 59, 42);
    border-radius: 100px;
    padding: 5px;
    border: 1px solid rgb(34, 173, 127) ;
    margin: 1%;
}

.footsection3 {
    margin-left: 5%;
}

.footsection4 {
    margin-left: 4%;
}
.footsection2 ul, .footsection3 ul, .footsection4 ul {
    padding-inline-start: 0;
}

.footsection2 ul li, .footsection3 ul li, .footsection4 ul li {
    list-style-type: none;
    opacity: 0.8;
    line-height: 1.5em;


}
@media (width <1024px) {
header nav {
    display: none;
}
.home1 h1 {
    font-size: 40px;
    padding-top: 100px;
}
.home1 p {
    width: 90%;
    text-align: justify;
    font-size: 16px;
}
.button1 {
    width: 100%;
    padding: 5px;
    font-size: 15px;
    height: 40px;
}

.button2 {
    width: 100%;
    font-size: 15px;
    padding: 5px;
    height: 40px;
}
#about {
    width: 100%;
    margin: 0;
    padding: 0;
}
.highlight  {
    display: none;
}
.main-links {
    width: 100%;

}
.main-links-contents {
    display: none;
}
.aboutfirstp, .aboutfirsth, .aboutsecondh, .aboutsecondp {
width: 100%;
justify-content: center;
margin: 0;
padding: 0;}

.contact {
    flex-direction: column;
}
.form {
    width: 100%;
}
.contactAddress {
width: 100%;
}
footer {
    flex-direction: column;
}
.footsection1 {
    width: 90%;
}
}


@media ( 767px <= width <= 1025px) 
{
    .headerimg {
        width: 50%;
        height: 50%;
    }
    .nav-logo h1 {
        font-size: larger;
        
    }
    }
